**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/node_modules
**/.nuxt
**/.output
**/dist
**/build
.claude/
.github/
.vscode/
.idea/
docs/
bin/
scripts/
*.md
!README.md
